#p01{color: gold;
    font-size:80px;
    text-align: center;
    text-align: center;
    }
#p02{font-size: 25px;
    color: gold;
    text-align:center;}
#p03{text-align: center;
    size: 25px;
    border: 2px black;}